*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;

}
bg-left  > full-bg{
	padding: 50%;
}
.bg_body{
	/* position: relative; */
}
.main{
	text-align: center;
}
.bg-left{
	min-width: 400px;
	padding-left: 0;
	background-color: #f5f5f5 ;
	min-height: 600px;
	/* position: absolute; */
	left: 0;
	
}
.bg-right{
	/* position: absolute; */
	min-width: 400px;
	
}
.flex{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	flex-wrap: nowrap;
}
.full-bg{
	width: 900px;
	display: flex;
	
}
.form-input{
	background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
	box-shadow: none !important;
	
    padding: 20px 40px;
    font-size: 13px;
    border-radius: 15px;
}
.btn{

}
.w-100{
	width: 100%;
}
.btn-login{
	background-color: #009ef7;
	padding: 10px 40px;
    font-size: 12px;
    border-radius: 15px;
}
.text-color{
	background: linear-gradient(to right, #0e5c53 30%, #1aae77 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}



.row{
	max-width: 1170px;
	
}
.style-div{
	padding: 0 20px;
	margin: 20px;
}
.center{
	padding: 3.75rem !important;
	width: 500px !important;
	margin: 0 auto;
}
.center-btn{
	padding: 5px;
	margin: 0 3px;
}