*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	
}
a{
	text-decoration: none ;
}

.btn-search{
	border-style: solid ;
	background-width: 0px;
	line-height: normal;

}
.search-bar {
	 
	padding: 10px 0;
	/* position: sticky; */
	top:  0;
	border-bottom:  1px solid ;
}
.search-box {
	
    min-width: 250px;
    position: relative;
}
.input-search{
	width: 200px;
	height: 38px;
}
	
    

.input{
	padding: 0% ;
}


.input .input-icon{
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
}

.div3{
	display: flex;
	align-items: center ;
	flex-wrap: nowrap;
	
	

}

.auto {
	margin: 0 auto;
}
.body{
	margin: 0;
    font-family: var(--font-hel);
    font-size: .875rem;
    text-align: left;
}
.btn-div3{
	padding: 0 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.color-font{
	color:  black ;
	font-size: 15px ;
}
.btn{
	padding: 0 8px;
    white-space: normal;

	display: inline-block;
    font-weight: bold ;
    text-align: center;
    
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    padding: 0.375rem 0.75rem;
    font-size: .675rem;
    line-height: 1.42;
    border-radius: 25px; 
}

.btn-top{
	background: linear-gradient(to right, #0e5c53 30%, #1aae77 70%);
	color: #fff;
	border:2px solid black  ;
}
.btn-top:hover{
	background: linear-gradient(to right,#ffffff 5%, #ecf223 30%, #fab903 65%) ;
	transition:  3s ;
	color: black;
}

.btn-outline-light{
	color: black ;
    background-color: transparent;
    background-image: none;
    border:2px solid black  ;
}


.btn-cart{
	ont-size: 14px;
    font-weight: 500 !important;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 5px;
    background: #f0f0f0;
    display: block;
    text-align: center;
    letter-spacing: -1px;
}
.btn-cart:hover{
	background-color: #0F5D54 ;
}

.footer_destop {
	display:  block;
}
.row{
	max-width : 1170px ;
	width: 90%;
	margin: 0 auto;
	padding:  0 10px 0px;
	
}


.container {
	display:  flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	
}

.logo img {
	width: 200px ;
	padding: 10px;
	min-width: 150px;
}
.left .right {
	display: flex ;
	flex-wrap: wrap ;
	justify-content: space-between;
	align-items: center ;
	text-align: center;
}


.main-menu{
	
    padding: 0 0;
    text-align: center;
}
.main-menu a {
	padding: 10px 0px ;
}
.menu{
	position: relative ;

	padding-right: 25px;
	font-weight: bold;
	color:  green ;

}
li.menu{
	margin: 0;
	padding:  8px 15px;
}
.main-menu ul {
	list-style: none;
    padding: 0;
    /* padding-right: 20px; */
    margin: 0;
    width: 100%;
    display: -webkit-inline-box;
    max-width: 1170px ;
}
.menu-main{
	/* display: -webkit-inline-box; */
	text-align: center ;
	width: 100%;	
}
.menu:hover{
	color:  blue ;
}


div.main-top{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-top{
	background-color:  #fff ;
}

.main-top .main-banner{
	padding:  0;
}
.slick-slider{
	position : reative ;
	display:  inline-flex ;
	box-sizing: boder-box ;
	user-select:  none ;
}
.slick-list{
	position: relative;
	display:  block ;
	overflow:  hidden;
	margin: 0;
	padding:  0;
}
.banner-item{
	width: 100%;
	display: inline-block ;
}


.flex{
	display: flex;
}
.img-full{
	width: 100%;
	
}
.img{
	display: inline-block;
	vertical-align: middle ;
	max-width:  100%;
	height:  auto ;
}



.selection .products-list{
	padding: 30px 0px ;
	padding-top: 0px ;
}
div.text-banner{
	margin-top: 20px;
    text-align: left;
    /* padding: 10px; */
    margin-bottom: 20px;
    background: transparent;
    color: #303030;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    letter-spacing: 2px;
    padding: 10px 20px;
    padding-left: 0px;
}

a.them_category{
	font-weight: normal;
    font-size: 17px;
    position: absolute;
    right: 25px;
    bottom: 15px;
    text-transform: uppercase;
    color: #fff !important;
    padding: 5px 10px;
    background: #1aae77;
    letter-spacing: normal;
    border-radius: 1px;

}
.them_category:hover{
	background-color: #0e5c53;
	transition-timing-function: ease-in ;
	transition: 1s  ;
	
}
i. {
	transition: 0.2s all;
    position: absolute;
    right: -30px;
    top: 0px;
    background: #0e5c53;
    width: 29.9px;
    height: 29.9px;
    line-height: 27.9px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 30px;
    
}
.fa {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-center{
	text-align: center !important;
}
.text-color{
	background: linear-gradient(to right, #0e5c53 30%, #1aae77 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
 
}

.product-img{
	border-radius: 100px ;
	/* overflow:  hidden ; */
	border: none;
	position: relative;
	text-align: center;
	padding:  20px ;
}


.list_category{
	display: flex;
    flex-flow: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.list_category_item{
	flex:  0 0 15%;
	max-width: 15%;
}
.font-weight-normal{
	font-weight: 600;
	font-size: 13px;
	line-height:  15px ;
}


.selection{
	padding: 10px 0px ;
	padding-top: 0px ;
	border-bottom: 10px solid #f0f0f0 ;
}
.show-product-list .load_quick {
	display:  -ms-flexbox ;
	display:  flex ;
	flex-wrap:  wrap ;
}
.img-box .carousel_item {
	width: 100%;
}
.main-carousel{
	/* overflow: hidden ; */
	padding: 0px ;
	position: relative ;
	margin-bottom: 30px ;
	margin-top: 30px ;
}
.img-fluid{
	width: 160px ;
	max-width: 100%;
	height: auto ;
}

.product-item{
	margin-bottom: 35px ;
	border-radius: 3px ;
	background-color: #fff;
}
.product-min{
	min-height: 350px ;
}
.block-prices{
	text-align: left ;
	color: red ;
	width:  100% ;
}
.cart{
	position: relative;
	text-align: center;
	width: 100%;
}
.group-item{
	-ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    
    margin: 10px;
    padding: 12px;
    max-width: 100%;
    border-radius: 10px;
    width: 142px !important;
    height: 150px !important;
    box-shadow: 1px 10px 18px 1px #dbdbdb;
    
    filter: grayscale(1);
}
div.group-item{
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 15px;
}
.group-button{
	padding: 10px 40px;
    background: linear-gradient(to right, #0e5c53 30%, #1aae77 70%);
    color: #fff;
    font-size: 25px;
    border-radius: 100px;
    margin: 0px 10px;
}
.group-button:hover{
	background: linear-gradient(to right,#ffffff 5%, #ecf223 30%, #fab903 65%) ;
	color:  black ;
	transition:  2s ;
}

.footer{
	font-size: 15px;
    padding: 30px 10px;
    border-top: 2px solid #cfecd9;
}
.flex-full{
	display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}
.wiget{
	
    font-weight: 800;
}
.ic-facebook_href {
    position: fixed;
    z-index: 2 !important;
    bottom: 130px!important;
    right: 10px!important;
    width: 36pt !important;
    height: 36pt !important;
    text-align: center;
}
.ic-zalo_href {
    position: fixed;
    z-index: 2 !important;
    bottom: 75px!important;
    right: 10px!important;
    width: 36pt !important;
    height: 36pt !important;
    text-align: center;
}
#totop {
    bottom: 0;
    right: -3px;
    position: fixed;
    z-index: 1001;
    transition: all .3s linear 0s;
    opacity: 0;
}
.product-meta{
	font-size: 12px;
	padding-bottom:  5px;
	margin-top:  -5px;
}
.product-meta-live{
	position:  absolute;
	top: 0px;
	right:  3px;
}
.box_line{
	border:  2px solid #EDEDED;
	border-radius: 10px ;
	position: relative ;
}
.icon_live{
	position: absolute ;
	top: 0;
	right: 0;
}
.icon-top{
	position:  absolute ;
	right: 5px;
	font-size: 15px;
	color: orange;
}


/* Tablet: width >=740 & w <= 1080 */
@media only screen and (min-width: 46.25em) and (max-width: 53.9375em) {
	 
	.right{
		flex-wrap: wrap;
	}
	.row{
		width: 50,5em;
	}
	h1.logo{
		display: none;
	}
}
/* Mobile w <= 740 */
@media only screen and (max-width: 46.1875em) { 
	.search-bar{
		display: none;
	}
	.row{
		width: 40em;
	}

}














